* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:  rgba(0, 0, 0, 1); 

}
header ul li {
    display: inline-block;
    margin-left: 100px;
    font-size: 15px;
    padding: 12px 0px;
    font-weight: 100;
    font-style: normal;
    color: aliceblue;

}
header a {
    text-decoration: none;
    color: azure;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}

header {
    background-color: rgba(0, 0, 0, 0.3); 
    height: 40px;
    display: block;
    padding: 10px;

}
header:hover {
    background-color: rgba(0, 0, 0, 1); 
    transition: 2s;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}


button a{
    text-decoration: none;
    left: 50px;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 8px;


}
.botao{
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    align-items: center;
}
button{
    border-radius: 400px;
    background-color: rgba(0, 0, 0, 1); 
    color: aliceblue;

}
.botao:hover{
    background-color: rgb(62, 60, 60);
    cursor: pointer;
}
.botao img{
    width: 20px;
    height: auto;
    margin-left: 8px;
    vertical-align: middle;
    width: 20px;
    height: auto;
    vertical-align: middle;
}
