* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: aliceblue;
}

body {
    /* background-color: rgb(27, 27, 37); */
    background-image: url(/pasta/imagens/tentativa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header ul li {
    display: inline-block;
    margin-left: 100px;
    font-size: 15px;   
    padding: 12px 0px;

}

header a {
    text-decoration: none;
    color: azure;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}

header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    display: block;
    padding: 10px;

}

header:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}

.logo-inicial img {
    width: 290px;
    height: auto;
    position: relative;
    margin: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 1, 1);
    opacity: 0.6;
    border-radius: 10px;

}

.logo-inicial img:hover {
    width: 290px;
    height: auto;
    position: relative;
    margin: 50px;
    box-shadow: 10px 10px 20px rgb(189, 223, 230);
    opacity: 1;

}
.logo-inicial:hover{
    transform: translateY(-5px);
}

.tela {
    width: 800px;
    margin: 0 auto;
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    

}

.escrita-principal {
    width: 900px;
    margin: 0 auto;
    position: relative;
    height: 100px;
    top: 20;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}
.escrita-principal:hover{
    transform: translateY(-5px);
    text-shadow: 0 6px 12px rgb(255, 255, 255);
}

.escrita-principal h1 {
    font-style: italic;
    font-weight: 400px;
    font-size: 350%;
    opacity: 0.4;
}

.escrita-principal h1:hover {
    font-style: italic;
    font-weight: 400px;
    font-size: 350%;
    text-shadow: 4px 4px 10px rgb(255, 255, 255, 20);
    opacity: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}

footer:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: 0.5s;
}


button a {
    text-decoration: none;
    left: 50px;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}

.botao {
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

button {
    border-radius: 400px;
    background-color: rgba(0, 0, 0, 1);
    color: aliceblue;

}

.botao:hover {
    background-color: rgb(62, 60, 60);
    cursor: pointer;
}

.botao img {
    width: 15px;
    height: auto;
    margin-left: 8px;
    vertical-align: middle;
}
